@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body{
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}